:root {
  --accent-color: #2196f3; /*  */
  --hover-background-color: #188ce8; /* bg hover for hero button */
  --secondary-color: #212121; /* text titles */
  --primary-color: #757575; /* text */
  --white-color: #ffffff; /*  */
  --border-color: #ececec; /* border */
  --secondary-background-color: #f5f4fa; /* bg some buttons */
  --address-primary-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000; /*  */
  --primary-background-color: #2f303a; /* bg footer and hero */
}
